DATABASE_URL=postgresql://xxxxx:xxxxxxx@xxxxxxx.ondigitalocean.com:25060/database?ssl=true
DATABASE_SCHEMA=wallet
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXXXXX\n-----END PUBLIC KEY-----"
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nXXXXXXXXXXXXXXXXXXXXX\n-----END RSA PRIVATE KEY-----"
NODE_LOG_LEVEL=trace

DBUSERNAME=test
HOST=db-postgresql-sfo2-nextgen-do-user-XXXXXX-X.db.ondigitalocean.com
PASSWORD=password
DATABASE=dev_database
PORT=XXXXX

PRIVATE_KEYCLOAK_REALM=treetracker
PRIVATE_KEYCLOAK_BASE_URL=https://dev-k8s.treetracker.org/keycloak
PRIVATE_KEYCLOAK_CLIENT_SECRET=get_key_from_keycloak
PRIVATE_KEYCLOAK_CLIENT_ID=wallet-app-user-dev-svc
