node_modules/
config/
private.key
public.key
jwtRS256.key
jwtRS256.key.pub
keygen.sh
database.json
.env
.env.test
.env.development
.vscode
.nyc_output

# Logs and databases #
######################
*.log

#IDEA
.idea